<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Redirecting...</title>
    <meta name="robots" content="noindex">
    <link rel="canonical" href="<%= @item[:redirect_to] %>">
    <meta http-equiv="refresh" content="0; url=<%= @item[:redirect_to] %>">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="<%= @items['/assets/stylesheets/stylesheet.*'].path %>">
    <link rel="stylesheet" href="<%= @items['/assets/stylesheets/footer.*'].path %>">
    <!-- Docsearch https://community.algolia.com/docsearch/ - via CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.css">
    <!-- end of docsearch -->
    <script async src="<%= @items['/assets/javascripts/docs.*'].path %>"></script>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,400italic' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  </head>
  <body>
    <%= render '/header.*' %>
    <div class="wrapper pt-5">
      <div id="doc-nav" class="doc-nav"></div>
      <div class="main class">
        <h2>Redirecting...</h2>
          <a href="<%= @item[:redirect_to] %>">Click here if you are not redirected.</a>
          <script>location='<%= @item[:redirect_to] %>'</script>
        <%= render '/footer.*' %>
      </div>
    </div>
    <%= render '/docsearch.*' %>
  </body>
</html>
